# Dependencies
node_modules/
**/node_modules/

# Environment files
.env
.env.local
.env.production
.env.development

# Build files
dist/
build/

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Vercel
.vercel

# VS Code
.vscode/